---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a1c60f1c3a4d4248a9e233657232209&q=32.08091,-81.09119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/25/2023 17:50:34'
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a9aef6d20e4e7c148a0e09c798872dc5
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Savannah","region":"Georgia","country":"United
        States of America","lat":32.08,"lon":-81.09,"tz_id":"America/New_York","localtime_epoch":1695664233,"localtime":"2023-09-25
        13:50"},"current":{"last_updated_epoch":1695663900,"last_updated":"2023-09-25
        13:45","temp_c":31.0,"temp_f":87.8,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":260,"wind_dir":"W","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"humidity":47,"cloud":25,"feelslike_c":30.9,"feelslike_f":87.6,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":7.0,"gust_kph":11.2},"forecast":{"forecastday":[{"date":"2023-09-25","date_epoch":1695600000,"day":{"maxtemp_c":33.3,"maxtemp_f":91.9,"mintemp_c":18.7,"mintemp_f":65.7,"avgtemp_c":26.4,"avgtemp_f":79.5,"maxwind_mph":6.5,"maxwind_kph":10.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":61.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":7.0},"astro":{"sunrise":"07:15
        AM","sunset":"07:18 PM","moonrise":"05:14 PM","moonset":"02:34 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"74","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1695614400,"time":"2023-09-25
        00:00","temp_c":25.8,"temp_f":78.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":194,"wind_dir":"SSW","pressure_mb":1014.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"humidity":62,"cloud":19,"feelslike_c":27.1,"feelslike_f":80.7,"windchill_c":25.8,"windchill_f":78.4,"heatindex_c":27.1,"heatindex_f":80.7,"dewpoint_c":17.9,"dewpoint_f":64.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":11.7,"gust_kph":18.9,"uv":1.0},{"time_epoch":1695618000,"time":"2023-09-25
        01:00","temp_c":25.4,"temp_f":77.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":193,"wind_dir":"SSW","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.0,"precip_in":0.0,"humidity":65,"cloud":19,"feelslike_c":26.8,"feelslike_f":80.2,"windchill_c":25.4,"windchil[...]
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&place=savannah,%20ga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.182 TT 0 0.185"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 536,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL15207281W",
                    "type": "work",
                    "seed": [
                        "/books/OL22938344M",
                        "/books/OL22938430M",
                        "/books/OL22938374M",
                        "/books/OL17633344M",
                        "/books/OL17633296M",
                        "/books/OL17633307M",
                        "/books/OL17633207M",
                        "/books/OL17633170M",
                        "/books/OL17633264M",
                        "/books/OL17633403M",
                        "/books/OL176[...]
