---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&place=savannah,%20ga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.047 TT 0 0.053"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 536,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL15207281W",
                    "type": "work",
                    "seed": [
                        "/books/OL22938344M",
                        "/books/OL22938430M",
                        "/books/OL22938374M",
                        "/books/OL17633344M",
                        "/books/OL17633296M",
                        "/books/OL17633307M",
                        "/books/OL17633207M",
                        "/books/OL17633170M",
                        "/books/OL17633264M",
                        "/books/OL17633403M",
                        "/books/OL176[...]
